.pagination-container {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}

.mui-pagination .MuiPaginationItem-root {
  color: #ccc;
  background: #1a1a1a;
  border: 1px solid #333;
  font-weight: bold;
}

.mui-pagination .MuiPaginationItem-root.Mui-selected {
  background: #f5c518;
  color: #000;
  border-color: #f5c518;
}

.mui-pagination .MuiPaginationItem-root:hover {
  border-color: #f5c518;
  color: #f5c518;
}
